{% extends 'main.html' %}



{% block content %}
<section style="height: auto;" class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>All <span>Posts</span></h2>
      </div>

      <div class="hero-section__search">

      </div>
    </div>
  </section>

<div class="posts-container">
    <!-- first post -->
    {% for post in posts %}
    
    <div class="entry">
        <header class="entry__header">
            
            <img src="{{ post.owner.profile_image.url }}" alt="pic" class="entry__author_picture">
            <div>
                <h3 class="entry__author">{{post.owner.name}}</h3>
                <a href="{% url 'post-detail' post.id %}" class="entry__author_username">@{{post.owner.username}}</a>
            </div>
        </header>
        
        <div style="display: block;">     
            <p class="entry__title">{{post.title}}</p>
            <p class="entry__description">{{post.description}}</p>
        </div>
        <div style="display: flex">
            <a href="{% url 'post-detail' post.id %}"><h1 class="btn btn--sub btn--sm">Read More</h1></a>
        </div>
    </div>
    
    {% endfor %}
    <!-- end first post -->
</div>

{% endblock content %}

