{% extends 'main.html' %}

{% block content %}
    <section style="height: auto;" class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2><span>Topics</span></h2>
            </div>

            <div class="hero-section__search">

            </div>
        </div>
    </section>

    <div class="posts">
        <!-- card 1 -->
        {% for topic in topics %}
            <div id="test" class="post">
                <a href="{% url 'topic-posts' topic.title %}">

                <p class="post__lead">{{ topic.title }}</p>
                <div class="featured_image">
                    <img src="{{ topic.image.url }}" alt="image">
                </div>

                <p class="post__quote">{{ topic.description }}</p>
                </a>
            </div>
            <!-- end card 1 -->
        {% endfor %}
    </div>
    {% if request.user.is_staff %}
    <div style="text-align: center;" >
        <a class="btn btn--sub btn--md" href="{% url 'post-create' %}">Create a Post</a>
    </div>
    {% endif %}
{% endblock %}  
